name: Pre Release
on:
  push:
    branches:
      - 'master'
    tags-ignore:
      - 'v**'

jobs:
  pre-release:
    name: Pre Release
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21
          cache: gradle

      - name: Build with Gradle
        run: |
          chmod +x ./gradlew
          ./gradlew :module:ciRelease

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: zygisk-module
          path: module/build/outputs/module/release

      - name: Update ci tag
        run: |
          git tag -f ci
          git push origin ci -f

      - name: Build changelog
        uses: mikepenz/release-changelog-builder-action@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          outputFile: module/release/changelog.md
          mode: HYBRID

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          body_path: module/release/changelog.md
          prerelease: true
          name: "CI Build"
          files: module/release/**